#page-container {  
    position: relative;  
    min-height: 100vh;
}

body {
    background-image: url("robins-in-snow.jpg");
}


.navbar {
    /* width: 100%; */
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    color:#4aaaa5;
    text-align: center;
    background-color: rgba(255,255,255,0.9);

    /* background: #ffffff; */
}

#navbar {
    width: 60rem;
    padding-left: 9px;
    padding-right: 0px;
}

.container {
    max-width: 50rem;
    font-family: 'Montserrat', sans-serif;
}

.navbar-light .navbar-text {
    font-size: 33px;
    color: #e84a5f;
    float: left;
    width: 233px;
    height: inherit;
}

.navbar-light .navbar-nav .nav-link {
    color: #e84a5f;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
}

#content {
    margin-top: 45px;
    background-color: rgba(255,255,255,0.9);
    border: #dddddd;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 45px;
    padding-bottom: 15px;
}
    

#lower-spacer {
    width: 96%;
    height: 2px;
    margin: 0 auto;
    background-color:#fecea8;
    margin-bottom: 15px;
}

.row {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

img {
    margin-right: 15px;
}

#content-wrap {  
    padding-bottom: 75px;
}

footer {
    /* margin-top: 45px; */
    height: 5rem;
    background-color: #2a363b;
    border-top-color: #fecea8;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-style: solid;
    border-top-width: 8px;
    position: absolute;
    bottom: 0; 
    width: 100%;
  }

h2 {
    color: #e84a5f;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color:#ff847c;
}

a {
    color: #ff847c;
    text-decoration: none;
    background-color: transparent;
}


@media (max-width: 736px) {
    

    #content {
        margin-top: 0;
        margin-bottom: 0;
    }

}

@media (max-width: 414px) {

    #navbar {
        padding-left: 0;
    }
    
    #content {
      padding:0;
      margin-top:0;
      margin-bottom: 0;
      padding-bottom: 15px;
    }

    img {
        width: 100%;
    }

    form {
        padding-left: 15px;
        padding-right: 15px;
    }

}

.form-group {
    color: #4aaaa5;
}

.btn-primary {
    color: #fff;
    background-color: #4aaaa5;
    border-color: #dddddd;
}

.navbar-light .navbar-toggler {
    border-color: #ffffff;
    color: #ffffff;
}