body {
    background-image: url("crossline-dots.png");
}

.navbar.navbar-expand-md.bg-light.navbar-light {
    width: 100%;
    margin-top: 0px;
    /* height: 84px; */
    font-family: 'Montserrat', sans-serif;
    color:#4aaaa5;
    text-align: center;
    background: #ffffff;
    /* border: #dddddd;
    border-style: solid;
    border-width: 1px;
    border-top: 0;
    border-right: 0;
    border-left: 0; */
}

#navbar {
    /* padding-left: 0px; */
    padding-right: 0px;
}
.container {
    /* widt h: 100%; */
    font-family: 'Montserrat', sans-serif;
}

.navbar-light .navbar-text {
    font-size: 33px;
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    width: 233px;
    height: inherit;
}

.navbar-light .navbar-nav .nav-link {
    color: #4aaaa5;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
}

#content {
    margin-top: 45px;
    background-color: #ffffff;
    border: #dddddd;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 45px;
    /* padding: 2%; */
}

#lower-spacer {
    width: 96%;
    height: 2px;
    margin: 0 auto;
    background-color:#dddddd;
    margin-bottom: 15px;
}

.row {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

img {
    margin-right: 15px;
}

footer {
    height: 75px;
    background-color: #666666;
    border-top-color: #4aaaa5;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-style: solid;
    border-top-width: 8px;
    position: sticky;
  }
h2 {
    color: #4aaaa5;
}

@media (max-width: 736px) {
    #content {
      padding:0;
      margin-top:0;
      margin-bottom: 0;
    }

    img {
        width: 100%;
    }

    body {
      padding:0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}